#textarea{
    height:200px;
    width:200px;
}
html{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/4d/Cheeseburger.jpg');
    background-repeat:no-repeat;
    background-size:contain;
    height:100%;
    margin:auto;
    background-position: center;
}